<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
        <link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap" rel="stylesheet"> 
    </head>

    <body>
        <div style="margin: auto">
            <form action="/open" method="POST">
                <button>OPEN</button>
            </form>

            <form action="/close" method="POST">
                <button>CLOSE</button>
            </form>
        </div>
    </body>
</html>